# Toronto Traffic Collisions EDA

In this notebook, we explore and analyze Toronto Traffic Collision Data from 2014 to 2024 to identify key trends, patterns, and insights related to traffic incidents in the city. The dataset provides detailed information about collision dates, times, locations, vehicle types involved, and the severity of outcomes such as injuries and fatalities.

**Objectives:**
- Understand Collision Trends: Analyze how collision rates change over time (by year, month, and time of day).
- Location-Based Insights: Identify neighborhoods or intersections with higher collision frequencies.
- Collision Types: Investigate the involvement of different modes of transportation (e.g., automobiles, bicycles, pedestrians).
- Severity Analysis: Examine the frequency and patterns of fatal and non-fatal collisions.
- Data Cleaning: Handle missing data and outliers to ensure the analysis is robust.
  
**Why This Analysis Matters:**  
Traffic collisions can have a significant impact on public safety and urban planning. By analyzing historical data, we can gain insights to help inform policies, improve traffic management, and potentially reduce future incidents.

<hr>

## Data Import and Overview

### Import necessary libraries

In [1]:
# import libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load dataset and display first 5 rows

In [2]:
df = pd.read_csv("/Users/raghadibrahim/Desktop/toronto-collisions-eda/data/Traffic_Collisions.csv")
df.head() # show first five rows

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,1388552400000,January,Wednesday,2014,13,D23,NaN,NO,NO,...,006,Kingsview Village-The Westway (6),-79.558639,43.694246,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.55..."
1,2,1388552400000,January,Wednesday,2014,19,D42,NaN,NO,YES,...,128,Agincourt South-Malvern West (128),-79.281506,43.784746,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.28..."
2,3,1388552400000,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
3,4,1388552400000,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
4,5,1388552400000,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."

Each row in the dataset represents a single reported traffic collision incident in Toronto. Specifically, one row corresponds to one collision event and includes information about when, where, and how the collision happened, as well as details on the severity and the types of vehicles and people involved.

### Display important info

In [3]:
# show dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704704 entries, 0 to 704703
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                704704 non-null  int64
 1   OCC_DATE           704704 non-null  int64
 2   OCC_MONTH          704704 non-null  object
 3   OCC_DOW            704704 non-null  object
 4   OCC_YEAR           704704 non-null  int64
 5   OCC_HOUR           704704 non-null  int64
 6   DIVISION           704704 non-null  object
 7   FATALITIES         606 non-null     float64
 8   INJURY_COLLISIONS  704700 non-null  object
 9   FTR_COLLISIONS     704700 non-null  object
 10  PD_COLLISIONS      704700 non-null  object
 11  HOOD_158           704704 non-null  object
 12  NEIGHBOURHOOD_158  704704 non-null  object
 13  LONG_WGS84         704704 non-null  float64
 14  LAT_WGS84          704704 non-null  float64
 15  AUTOMOBILE         704700 non-null  object
 16  MOTORCYCLE         704700 non-null  object
 17  PASSENGER          704700 non-null  object
 18  BICYCLE            704700 non-null  object
 19  PEDESTRIAN         704700 non-null  object
 20  geometry           704704 non-null  object
dtypes: float64(3), int64(4), object(14)
memory usage: 112.9+ MB

<br>

#### Key Insights
- There are 704,704 rows and 21 columns in the dataset.
- Critical columns like `FATALITIES` have significant missing data (only 606 non-null rows).
- Minor missing data in columns like `INJURY_COLLISIONS`, `AUTOMOBILE`, `PEDESTRIAN`, etc. (4 missing values each).

<br>

### Descriptive Statistics

In [4]:
# dataframe key statistics
df.describe()

,_id,OCC_DATE,OCC_YEAR,OCC_HOUR,FATALITIES,LONG_WGS84,LAT_WGS84
count,704704.000000,7.047040e+05,704704.000000,704704.000000,606.000000,704704.000000,704704.000000
mean,352352.500000,1.553559e+12,2018.729875,13.468612,1.014851,-66.342691,36.528215
std,203430.666387,9.784382e+10,3.099030,4.976665,0.145831,29.423231,16.200397
min,1.000000,1.388552e+12,2014.000000,0.000000,1.000000,-79.639247,0.000000
25%,176176.750000,1.472706e+12,2016.000000,10.000000,1.000000,-79.444829,43.644346
50%,352352.500000,1.545109e+12,2018.000000,14.000000,1.000000,-79.370469,43.692500
75%,528528.250000,1.642568e+12,2022.000000,17.000000,1.000000,-79.258521,43.751480
max,704704.000000,1.727672e+12,2024.000000,23.000000,3.000000,0.000000,43.853164

#### Key Insights
- Most collisions occur around the average hour 13.5 (1 PM)
- Collision data spans from 2014 to 2024
- Latitude and longitude indicate potential (0, 0) entries, which may need cleaning

##  Data Cleaning and Preprocessing

### Missing Values

In [5]:
df.isnull().sum()

_id                       0
OCC_DATE                  0
OCC_MONTH                 0
OCC_DOW                   0
OCC_YEAR                  0
OCC_HOUR                  0
DIVISION                  0
FATALITIES           704098
INJURY_COLLISIONS         4
FTR_COLLISIONS            4
PD_COLLISIONS             4
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
AUTOMOBILE                4
MOTORCYCLE                4
PASSENGER                 4
BICYCLE                   4
PEDESTRIAN                4
geometry                  0
dtype: int64

Let's take a look at the rows with missing values:

In [6]:
df[df['AUTOMOBILE'].isnull()]

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
164855,164856,1467435600000,July,Saturday,2016,18,D51,1.0,NaN,NaN,...,166,St Lawrence-East Bayfront-The Islands (166),-79.364322,43.645571,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.36..."
222058,222059,1493182800000,April,Wednesday,2017,18,D33,1.0,NaN,NaN,...,047,Don Valley Village (47),-79.366147,43.781963,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.36..."
512512,512513,1633237200000,October,Sunday,2021,12,D22,1.0,NaN,NaN,...,160,Mimico-Queensway (160),-79.512003,43.618234,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.51..."
568540,568541,1664427600000,September,Thursday,2022,19,D23,1.0,NaN,NaN,...,001,West Humber-Clairville (1),-79.586795,43.687889,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.58..."

In [7]:
df[df['MOTORCYCLE'].isnull()]

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
164855,164856,1467435600000,July,Saturday,2016,18,D51,1.0,NaN,NaN,...,166,St Lawrence-East Bayfront-The Islands (166),-79.364322,43.645571,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.36..."
222058,222059,1493182800000,April,Wednesday,2017,18,D33,1.0,NaN,NaN,...,047,Don Valley Village (47),-79.366147,43.781963,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.36..."
512512,512513,1633237200000,October,Sunday,2021,12,D22,1.0,NaN,NaN,...,160,Mimico-Queensway (160),-79.512003,43.618234,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.51..."
568540,568541,1664427600000,September,Thursday,2022,19,D23,1.0,NaN,NaN,...,001,West Humber-Clairville (1),-79.586795,43.687889,NaN,NaN,NaN,NaN,NaN,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.58..."

Observations:  

These 4 rows all have:
- `FATALITIES` = 1.0 (indicating that these were fatal collisions).
- Missing values (NaN) in all vehicle-related columns (AUTOMOBILE, MOTORCYCLE, PASSENGER, BICYCLE, PEDESTRIAN).
- Latitude (LAT_WGS84) and longitude (LONG_WGS84) are valid, so the location of the collision is recorded correctly.
- The geometry field suggests these rows are likely valid entries and not data corruption.

### Data Types

#### Convert Date

In [8]:
# Convert Unix timestamp to datetime
df['OCC_DATE'] = pd.to_datetime(df['OCC_DATE'], unit='ms')

df

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,2014-01-01 05:00:00,January,Wednesday,2014,13,D23,NaN,NO,NO,...,006,Kingsview Village-The Westway (6),-79.558639,43.694246,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.55..."
1,2,2014-01-01 05:00:00,January,Wednesday,2014,19,D42,NaN,NO,YES,...,128,Agincourt South-Malvern West (128),-79.281506,43.784746,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.28..."
2,3,2014-01-01 05:00:00,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
3,4,2014-01-01 05:00:00,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
4,5,2014-01-01 05:00:00,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704699,704700,2024-09-30 05:00:00,September,Monday,2024,7,D32,NaN,NO,NO,...,050,Newtonbrook East (50),-79.415566,43.779764,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.41..."
704700,704701,2024-09-30 05:00:00,September,Monday,2024,15,D55,NaN,NO,NO,...,062,East End-Danforth (62),-79.301822,43.688139,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.30..."
704701,704702,2024-09-30 05:00:00,September,Monday,2024,15,D12,NaN,NO,NO,...,110,Keelesdale-Eglinton West (110),-79.472789,43.684919,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.47..."
704702,704703,2024-09-30 05:00:00,September,Monday,2024,9,D33,NaN,NO,NO,...,040,St.Andrew-Windfields (40),-79.357482,43.753489,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.35..."
704703,704704,2024-09-30 05:00:00,September,Monday,2024,14,D23,NaN,YES,NO,...,002,Mount Olive-Silverstone-Jamestown (2),-79.593807,43.746865,YES,NO,YES,NO,YES,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.59..."

In [9]:
# Convert from UTC to local Toronto time
df['OCC_DATE'] = df['OCC_DATE'].dt.tz_localize('UTC').dt.tz_convert('America/Toronto')

In [10]:
print(df.head())

   _id                  OCC_DATE OCC_MONTH    OCC_DOW  OCC_YEAR  OCC_HOUR  \
0    1 2014-01-01 00:00:00-05:00   January  Wednesday      2014        13
1    2 2014-01-01 00:00:00-05:00   January  Wednesday      2014        19
2    3 2014-01-01 00:00:00-05:00   January  Wednesday      2014         2
3    4 2014-01-01 00:00:00-05:00   January  Wednesday      2014         3
4    5 2014-01-01 00:00:00-05:00   January  Wednesday      2014         5

  DIVISION  FATALITIES INJURY_COLLISIONS FTR_COLLISIONS  ... HOOD_158  \
0      D23         NaN                NO             NO  ...      006
1      D42         NaN                NO            YES  ...      128
2      NSA         NaN               YES             NO  ...      NSA
3      NSA         NaN                NO             NO  ...      NSA
4      NSA         NaN               YES             NO  ...      NSA

                    NEIGHBOURHOOD_158 LONG_WGS84  LAT_WGS84  AUTOMOBILE  \
0   Kingsview Village-The Westway (6) -79.558639  43.694246         YES
1  Agincourt South-Malvern West (128) -79.281506  43.784746         YES
2                                 NSA   0.000000   0.000000         YES
3                                 NSA   0.000000   0.000000         YES
4                                 NSA   0.000000   0.000000         YES

  MOTORCYCLE PASSENGER BICYCLE PEDESTRIAN  \
0         NO        NO      NO         NO
1         NO        NO      NO         NO
2         NO        NO      NO         NO
3         NO        NO      NO         NO
4         NO        NO      NO         NO

                                            geometry
0  {"type": "MultiPoint", "coordinates": [[-79.55...
1  {"type": "MultiPoint", "coordinates": [[-79.28...
2  {"type": "MultiPoint", "coordinates": [[5.6843...
3  {"type": "MultiPoint", "coordinates": [[5.6843...
4  {"type": "MultiPoint", "coordinates": [[5.6843...

[5 rows x 21 columns]

#### Convert columns to binary

In [12]:
df.replace("N/R", "NO", inplace=True)

In [13]:
df

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,2014-01-01 00:00:00-05:00,January,Wednesday,2014,13,D23,NaN,NO,NO,...,006,Kingsview Village-The Westway (6),-79.558639,43.694246,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.55..."
1,2,2014-01-01 00:00:00-05:00,January,Wednesday,2014,19,D42,NaN,NO,YES,...,128,Agincourt South-Malvern West (128),-79.281506,43.784746,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.28..."
2,3,2014-01-01 00:00:00-05:00,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
3,4,2014-01-01 00:00:00-05:00,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
4,5,2014-01-01 00:00:00-05:00,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704699,704700,2024-09-30 01:00:00-04:00,September,Monday,2024,7,D32,NaN,NO,NO,...,050,Newtonbrook East (50),-79.415566,43.779764,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.41..."
704700,704701,2024-09-30 01:00:00-04:00,September,Monday,2024,15,D55,NaN,NO,NO,...,062,East End-Danforth (62),-79.301822,43.688139,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.30..."
704701,704702,2024-09-30 01:00:00-04:00,September,Monday,2024,15,D12,NaN,NO,NO,...,110,Keelesdale-Eglinton West (110),-79.472789,43.684919,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.47..."
704702,704703,2024-09-30 01:00:00-04:00,September,Monday,2024,9,D33,NaN,NO,NO,...,040,St.Andrew-Windfields (40),-79.357482,43.753489,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.35..."
704703,704704,2024-09-30 01:00:00-04:00,September,Monday,2024,14,D23,NaN,YES,NO,...,002,Mount Olive-Silverstone-Jamestown (2),-79.593807,43.746865,YES,NO,YES,NO,YES,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.59..."

In [14]:
binary_columns = ['INJURY_COLLISIONS', 'FTR_COLLISIONS', 'PD_COLLISIONS', 
                  'AUTOMOBILE', 'MOTORCYCLE', 'PASSENGER', 'BICYCLE', 'PEDESTRIAN']
df[binary_columns] = df[binary_columns].replace({"YES": 1, "NO": 0})

In [15]:
df

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
0,1,2014-01-01 00:00:00-05:00,January,Wednesday,2014,13,D23,NaN,0.0,0.0,...,006,Kingsview Village-The Westway (6),-79.558639,43.694246,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.55..."
1,2,2014-01-01 00:00:00-05:00,January,Wednesday,2014,19,D42,NaN,0.0,1.0,...,128,Agincourt South-Malvern West (128),-79.281506,43.784746,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.28..."
2,3,2014-01-01 00:00:00-05:00,January,Wednesday,2014,2,NSA,NaN,1.0,0.0,...,NSA,NSA,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
3,4,2014-01-01 00:00:00-05:00,January,Wednesday,2014,3,NSA,NaN,0.0,0.0,...,NSA,NSA,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
4,5,2014-01-01 00:00:00-05:00,January,Wednesday,2014,5,NSA,NaN,1.0,0.0,...,NSA,NSA,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704699,704700,2024-09-30 01:00:00-04:00,September,Monday,2024,7,D32,NaN,0.0,0.0,...,050,Newtonbrook East (50),-79.415566,43.779764,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.41..."
704700,704701,2024-09-30 01:00:00-04:00,September,Monday,2024,15,D55,NaN,0.0,0.0,...,062,East End-Danforth (62),-79.301822,43.688139,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.30..."
704701,704702,2024-09-30 01:00:00-04:00,September,Monday,2024,15,D12,NaN,0.0,0.0,...,110,Keelesdale-Eglinton West (110),-79.472789,43.684919,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.47..."
704702,704703,2024-09-30 01:00:00-04:00,September,Monday,2024,9,D33,NaN,0.0,0.0,...,040,St.Andrew-Windfields (40),-79.357482,43.753489,1.0,0.0,0.0,0.0,0.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.35..."
704703,704704,2024-09-30 01:00:00-04:00,September,Monday,2024,14,D23,NaN,1.0,0.0,...,002,Mount Olive-Silverstone-Jamestown (2),-79.593807,43.746865,1.0,0.0,1.0,0.0,1.0,"{""type"": ""MultiPoint"", ""coordinates"": [[-79.59..."

In [16]:
# Convert decimal floats to integers
df[binary_columns] = df[binary_columns].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Check for Duplicates

In [11]:
df[(df['LONG_WGS84'] == 0) & (df['LAT_WGS84'] == 0)]

,_id,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,geometry
2,3,2014-01-01 00:00:00-05:00,January,Wednesday,2014,2,NSA,NaN,YES,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
3,4,2014-01-01 00:00:00-05:00,January,Wednesday,2014,3,NSA,NaN,NO,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
4,5,2014-01-01 00:00:00-05:00,January,Wednesday,2014,5,NSA,NaN,YES,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
5,6,2014-01-01 00:00:00-05:00,January,Wednesday,2014,5,NSA,NaN,NO,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
6,7,2014-01-01 00:00:00-05:00,January,Wednesday,2014,8,NSA,NaN,NO,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704616,704617,2024-09-30 01:00:00-04:00,September,Monday,2024,6,NSA,NaN,YES,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
704617,704618,2024-09-30 01:00:00-04:00,September,Monday,2024,7,NSA,NaN,YES,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
704671,704672,2024-09-30 01:00:00-04:00,September,Monday,2024,14,NSA,NaN,NO,YES,...,NSA,NSA,0.0,0.0,YES,NO,YES,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
704675,704676,2024-09-30 01:00:00-04:00,September,Monday,2024,10,D42,NaN,YES,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,YES,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."
704693,704694,2024-09-30 01:00:00-04:00,September,Monday,2024,11,NSA,NaN,NO,NO,...,NSA,NSA,0.0,0.0,YES,NO,NO,NO,NO,"{""type"": ""MultiPoint"", ""coordinates"": [[5.6843..."

## Exploratory Data Analysis (EDA)

In [ ]:
df['MOTORCYCLE'].value_counts()

In [ ]:
df['AUTOMOBILE'].value_counts()

In [ ]:
df['BICYCLE'].value_counts()

In [ ]:
df['PEDESTRIAN'].value_counts()

In [ ]:
df['PASSENGER'].value_counts()

In [ ]:
df['INJURY_COLLISIONS'].value_counts()

In [ ]:
df['FATALITIES'].value_counts()

In [ ]:
df['PD_COLLISIONS'].value_counts()

## Insights and Findings

## Conclusion

## Next Steps